<div *ngIf="seznam">

    <h3>Podrobnosti seznama {{seznam.naziv}}</h3>

    <table>
        <tr>
            <td>Naziv:</td>
            <td>{{seznam.naziv}}</td>
        </tr>
        <tr>
            <td>Opis:</td>
            <td>{{seznam.opis}}</td>
        </tr>
        <tr>
            <td>Ustvarjen:</td>
            <td>{{seznam.ustvarjen | date}}</td>
        </tr>
    </table>

    <button (click)="uredi()">Uredi seznam</button>

    <br>
    <br>
    <ul class="uporabniki">
        <li *ngFor="let artikel of seznam.artikli" (click)="naPodrobnosti(artikel)">
            <span>{{artikel.imeArtikla}}</span>
            <button class="delete"
                    (click)="deleteArtikel(artikel); $event.stopPropagation()">x
            </button>
        </li>
    </ul>

    <button (click)="dodajArtikel()">Dodaj artikel</button>
    <button (click)="nazaj()">Nazaj</button>
</div>
